@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply border-4 border-gray-400 rounded-lg py-2 px-2 w-full;
  @apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}

h1 {
  @apply text-blue-900 mb-2 text-xl;
}

h2{
  @apply text-gray-800 mt-6 mb-2 text-lg;
}

label {
  @apply text-blue-900;
}

.btn-primary {
  @apply bg-blue-900 text-white px-4 py-1 rounded-md;
}

table.basic {
  @apply w-full mt-4 rounded-md shadow-lg;

}

table.basic tr td {
  @apply px-4 py-2;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply bg-white uppercase border-b border-gray-200 px-4 py-2;  
}

table.basic a {
  @apply bg-blue-900 text-white text-sm p-1 px-2 rounded-md inline-flex gap-1 mr-1 items-center;
}

table.basic a:nth-last-child(1) {
  @apply bg-red-800;
}

.btn-red {
  @apply bg-red-800;
}

.btn-default {
  @apply bg-gray-500;
}


.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-md text-white;
}

.image {
  max-height: 100%;
}

.delete {
  @apply bg-white z-50 absolute h-fit w-fit p-6 flex flex-col text-center border border-black;
}